/*!
 * Start Bootstrap - Agency v3.3.7+1 (http://startbootstrap.com/template-overviews/agency)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */.btn-primary.active, .btn-primary:active, .btn-xl.active, .btn-xl:active, .open .dropdown-toggle.btn-primary, .open .dropdown-toggle.btn-xl {
    background-image: none
}
html, body {
  height: 100%;
  margin: 0;
}
body {
    overflow-x: hidden;
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    webkit-tap-highlight-color: #fed136;
	background-image:url(../img/wood-bg.jpg);
	background-repeat:repeat-y;
	background-attachment:scroll;
	background-position: bottom center;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	-o-background-size:cover;
}
body.v3 {
    overflow-x: hidden;
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    webkit-tap-highlight-color: #fed136;
	background: url(../img/wood-bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
a,a:visited{color:#D83323}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.wrapper {
	/*background: rgba(255, 255, 255, 0.8);*/
	background-image:url(../img/dogs-bg.png);
	background-repeat:no-repeat;
	background-attachment:scroll;
	background-position: bottom center;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	-o-background-size:cover;
	text-align:center;
	color:#333
}
.btn-primary, .btn-xl, h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700
}
.btn-buy
{
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	    color: #fff;
    font-size: 12px;
    border-color: transparent;
    background-color: #C40005;
    text-transform: uppercase;
	padding: 10px 24px;
    font-weight: 400;
	border-radius: 0;
	margin-bottom: 15px;
}
.text-muted {
    color: #777
}
.text-primary, a {
    color: #132180
}
.text-white, a.text-white 
{
	color: #fff;
}
p {
    font-size: 14px;
    line-height: 1.75
}
p.large {
    font-size: 16px
}
a, a.active, a:active, a:focus, a:hover {
    outline: 0
}
a.active, a:active, a:focus, a:hover {
    color: #1b2eae
}

.img-centered {
    margin: 0 auto
}
.bg-light-gray {
    background-color: #eee
}
.bg-darkest-gray {
    background-color: #222
}
.btn-primary {
    color: #fff;
    background-color: #fed136;
    border-color: #fed136
}
.btn-primary.active, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #fec503;
    border-color: #f6bf01
}
.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
    background-color: #fed136;
    border-color: #fed136
}
.btn-xl {
    color: #fff;
    background-color: #fed136;
    border-color: #fed136;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px
}
.btn-xl.active, .btn-xl:active, .btn-xl:focus, .btn-xl:hover, .open .dropdown-toggle.btn-xl {
    color: #fff;
    background-color: #fec503;
    border-color: #f6bf01
}
.btn-xl.disabled, .btn-xl.disabled.active, .btn-xl.disabled:active, .btn-xl.disabled:focus, .btn-xl.disabled:hover, .btn-xl[disabled], .btn-xl[disabled].active, .btn-xl[disabled]:active, .btn-xl[disabled]:focus, .btn-xl[disabled]:hover, fiepngldset[disabled] .btn-xl, fieldset[disabled] .btn-xl.active, fieldset[disabled] .btn-xl:active, fieldset[disabled] .btn-xl:focus, fieldset[disabled] .btn-xl:hover {
    background-color: #fed136;
    border-color: #fed136
}
.navbar-custom {
    background-color: #222;
    border-color: transparent
}
.navbar-custom .navbar-brand {
    color: #fed136;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive
}
.navbar-custom .navbar-brand.active, .navbar-custom .navbar-brand:active, .navbar-custom .navbar-brand:focus, .navbar-custom .navbar-brand:hover {
    color: #fec503
}
.navbar-custom .nav li a, .navbar-custom .navbar-toggle {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    text-transform: uppercase
}
.navbar-custom .navbar-collapse {
    border-color: rgba(255,255,255,.02)
}
.navbar-custom .navbar-toggle {
    background-color: #fed136;
    border-color: #fed136;
    font-size: 12px
}
.navbar-custom .navbar-toggle:focus, .navbar-custom .navbar-toggle:hover {
    background-color: #fed136
}
.navbar-custom .nav li a {
    font-weight: 400;
    letter-spacing: 1px
}
.navbar-custom .nav li a:focus, .navbar-custom .nav li a:hover {
    color: #fed136;
    outline: 0
}
.navbar-custom .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #fed136
}
.navbar-custom .navbar-nav>.active>a:focus, .navbar-custom .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #fec503
}

@media (min-width:768px) {
	.navbar-custom {
		background-color: transparent;
		padding: 25px 0;
		-webkit-transition: padding .3s;
		-moz-transition: padding .3s;
		transition: padding .3s;
		border: none
	}
	.navbar-custom .navbar-brand {
		font-size: 2em;
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		transition: all .3s
	}
	.navbar-custom .navbar-nav>.active>a {
		border-radius: 3px
	}
	.navbar-custom.affix {
		background-color: #222;
		padding: 10px 0
	}
	.navbar-custom.affix .navbar-brand {
		font-size: 1.5em
	}
}
header .intro-text {
    padding: 50px 0;
}
header .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 25px
}
header .intro-text .intro-heading {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 25px
}

@media (min-width:768px) {
header .intro-text {
    padding-top: 40px;
    padding-bottom: 0
}
header .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px
}
header .intro-text .intro-heading {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px
}
}
#portfolio .portfolio-item .portfolio-caption p, section h3.section-subheading {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic
}
section {
    padding: 100px 0
}
section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px
}
section h3.section-subheading {
    font-size: 16px;
    text-transform: none;
    font-weight: 400;
    margin-bottom: 40px
}
#about {
	padding:50px 0;
}
#about .container .row:first-child , .faded-bg
{
	padding: 50px 0;
	background: rgba(255, 255, 255, 0.8);
}
@media (min-width:768px) {
section {
    padding: 150px 0;
}
}
.service-heading {
    margin: 15px 0;
    text-transform: none
}
footer
{
	background-color: #585959;
}
footer span.copyright, footer ul.quicklinks {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white
}
#portfolio * {
    z-index: 2
}

section#contact {
    background-color: #222;
    background-image: url(../img/map-image.png);
    background-position: center;
    background-repeat: no-repeat
}
section#contact .section-heading {
    color: #fff
}
section#contact .form-group {
    margin-bottom: 25px
}
section#contact .form-group input, section#contact .form-group textarea {
    padding: 20px
}
section#contact .form-group input.form-control {
    height: auto
}
section#contact .form-group textarea.form-control {
    height: 236px
}
section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none
}
section#contact ::-webkit-input-placeholder {
font-family:Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
text-transform:uppercase;
font-weight:700;
color:#eee
}
section#contact :-moz-placeholder {
font-family:Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
text-transform:uppercase;
font-weight:700;
color:#eee
}
section#contact ::-moz-placeholder {
font-family:Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
text-transform:uppercase;
font-weight:700;
color:#eee
}
section#contact :-ms-input-placeholder {
font-family:Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
text-transform:uppercase;
font-weight:700;
color:#eee
}
section#contact .text-danger {
    color: #e74c3c
}
footer {
    padding: 25px 0;
    text-align: center
}
footer span.copyright {
    line-height: 40px;
    text-transform: uppercase;
    text-transform: none
}
footer ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    text-transform: uppercase;
    text-transform: none
}
ul.social-buttons {
    margin-bottom: 0
}
ul.social-buttons li a {
    display: block;
    background-color: #222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s
}
ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
    background-color: #fed136
}
.btn.active, .btn:active, .btn:active:focus, .btn:focus {
    outline: 0
}
.portfolio-modal .modal-dialog {
    margin: 0;
    height: 100%;
    width: auto
}
.portfolio-modal .modal-content {
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    min-height: 100%;
    padding: 100px 0;
    text-align: center
}
.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em
}
.portfolio-modal .modal-content p {
    margin-bottom: 30px
}
.portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 16px
}
.portfolio-modal .modal-content ul.list-inline {
    margin-bottom: 30px;
    margin-top: 0
}
.portfolio-modal .modal-content img {
    margin-bottom: 30px
}
.portfolio-modal .close-modal {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: transparent;
    top: 25px;
    right: 25px;
    cursor: pointer
}
.portfolio-modal .close-modal:hover {
    opacity: .3
}
.portfolio-modal .close-modal .lr {
    height: 75px;
    width: 1px;
    margin-left: 35px;
    background-color: #222;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 1051
}
.portfolio-modal .close-modal .lr .rl {
    height: 75px;
    width: 1px;
    background-color: #222;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    z-index: 1052
}
.portfolio-modal .modal-backdrop {
    opacity: 0;
    display: none
}
::-moz-selection {
text-shadow:none;
background:#fed136
}
::selection {
    text-shadow: none;
    background: #faa15f;
}
img::selection {
    background: 0 0
}
img::-moz-selection {
background:0 0
}
 /*----Parallax setup----------*/



section.module.content {
  padding: 20% 0;
	margin-bottom: 0;
}
section.module.parallax {
  height: 500px;
  margin:0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax-field {
  background-color: #413c00;
  background-image: url(../img/field.jpg);
}
section.module.parallax-forest h2
{
	font-family: 'Cabin', sans-serif;
    font-size: 3.8rem;
    line-height:4.0rem;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4); 
    padding: 15% 0;
}
@media (min-width: 768px) {
  section.module.parallax-forest h2
  {
      font-family: 'Cabin', sans-serif;
      font-size: 4.6rem;
      line-height:4.8rem;
      text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4); 
      padding: 15% 0;
  }
}